@import './fonts.scss';
@import './variables.scss';

html {
  scroll-behavior: smooth;
  scroll-padding: 20% 0 0 0;
}

body {
  font-family: 'Roboto Light', sans-serif;
  padding-top: 87px;
}

.bg-pink {
  background-color: $pink;
}

.btn-brown {
  background-color: $brown;
  color: white;
}

.btn-brown:hover {
  background-color: $brown;
  color: $pink;
}

.bg-green {
  background-color: $light-green;
}

.btn-social {
  cursor: pointer;
}

.btn-social i {
  font-size: 20px;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card {
  width: 18rem;
}

.navbar-brand img {
  max-width: 200px;
}

.badge-pink {
  background-color: $brown;
  color: white;
}

